@model List<FootballPlayersCatalog.Models.PlayerFormModel>
@{
    ViewData["Title"] = "Список игроков";
}

<div class="text-center">
    <h1 class="display-4 text-center mt-5">Список игроков</h1>
</div>

<table id="player-table" class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Пол</th>
            <th>Дата рождения</th>
            <th>Команда</th>
            <th>Страна</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.Surname</td>
                <td>@player.Gender</td>
                <td>@player.BirthDate.Value.ToShortDateString()</td>
                <td>@player.Team</td>
                <td>@player.Country</td>
                <td><button onclick="showEditFields(this)">Редактировать</button></td>
            </tr>
            <tr class="edit-row" style="display: none;">
                <form asp-controller="PlayersList" asp-action="Edit" method="post">
                    <input type="hidden" name="Id" value="@player.Id"/>
                    <td><input type="text" name="Name" value="@player.Name"/></td>
                    <td><input type="text" name="Surname" value="@player.Surname"/></td>
                    <td><input type="text" name="Gender" value="@player.Gender"/></td>
                    <td><input type="date" name="BirthDate" value="@player.BirthDate.Value.ToString("yyyy-MM-dd")"/></td>
                    <td><input type="text" name="Team" value="@player.Team" /></td>
                    <td>
                        <select name="Country">
                            <option value="Россия" selected="@("Россия" == @player.Country)">Россия</option>
                            <option value="США" selected="@("США" == @player.Country)">США</option>
                            <option value="Италия" selected="@("Италия" == @player.Country)">Италия</option>
                        </select>
                    </td>
                    <td><button type="submit">Сохранить</button></td>
                </form>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script>
        // Функция для отображения полей редактирования при нажатии на кнопку "Редактировать"
        function showEditFields(button) {
            var row = button.closest('tr');
            var editRow = row.nextElementSibling;

            if (editRow && editRow.classList.contains('edit-row')) {
                editRow.style.display = 'table-row';
                row.style.display = 'none';
            }
        }

        var connection = new signalR.HubConnectionBuilder().withUrl("/playerhub").build();

        // Обработчик обновлений от хаба signalR
        connection.on("ReceivePlayerUpdate", function (message) {
            $.get("/PlayersList/Index", function (data) {
                var newHtml = $(data).find("tbody").html();
                $("#player-table tbody").html(newHtml);
            });
        });

        // Подключение к хабу SignalR
        connection.start().then(function () {
            console.log("Соединение с хабом установлено");
        }).catch(function (err) {
            return console.error(err.toString());
        });
    </script>
}
